@font-face {
    font-family: Delicious;
    src: url(../fonts/Lovelo_Black.otf);
}

body {
    background: #34495e;
}

@font-face {
    font-family: Delicious;
    src: url('fonts/Lovelo_Black.otf');
}

h2 {
    font-family: Delicious
}

.bold {
    font-family: Delicious;
}

.navbar-brand {
    font-size: 3rem;
    line-height: 50px;
    height: 70px;
}

.bg-light {
    background-color: #1abc9c !important;
}

.btn-secondary {
    color: #2c3e50;
    background-color: #16a085;
    border-color: #16a085;
}

.btn-secondary.active, .btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
    background-color: #2ecc71;
    background-image: none;
    border-color: #2ecc71;
}

.btn-secondary:hover {
    color: #2c3e50;
    background-color: #16a085;
    border-color: #16a085;
}

#image {
    padding: 10%;
    height: 100vh;
    width: 100%;
    /*background: rgba(0, 0, 0, .2);*/
    background: url(../img/background_flat_green_yellow.png) no-repeat;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    background-blend-mode: overlay;
    position: relative;
    overflow: hidden;
    border-color: transparent;
    display: inline-table;

}

.img-fluid {
    max-width: 100%;
    height: auto;

}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
}

form{
    background-color:#E6E23C;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.form-control{
    background: #f6e58d;
    border-color: transparent;
}

label{
    font-family: Delicious;
}

#icons{;
    min-height: 30px;
}

#avatar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: 150px;
    min-width: 150px;
    height: 200px;
    width: 200px;
}

#nome{
    font-size: 200%;
}

#avatar_container{
    padding-top: 30px;
}

#name {
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

#itemImageContainer {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    margin-top: 30px;
}

#cv{
    margin: 0 auto;
    background: #8e44ad;
}

.btn-primary{
    color: #ecf0f1;
    border-color: #8e44ad;
}

.nav-item {
    margin-right: 15px;
    margin-left: 15px;
}

#italian{
    max-width: 30px;
    max-height: 30px;
}
#english{
    max-width: 30px;
    max-height: 30px;
}

#facebook{
    max-width: 50px;
    max-height: 50px;
}

#instagram{
    max-width: 50px;
    max-height: 50px;
    min-height: 20px;
    min-width: 20px;
}

#linkedin{
    max-width: 50px;
    max-height: 50px;
}

#mail{
    max-width: 50px;
    max-height: 50px;
}

.row {
    padding-top: 50px;
}

#description {
    padding: 25px;
    background: #1abc9c;
}

#skills {
    background: #9b59b6;
    padding: 20px;
}

.list-group-item{
    background-color: transparent;
    text-align: center;
    border: 0px;
}

.nav-item{
    background-color: transparent;
    text-align: center;
    border: 0px;
}

#collapseButton{
    margin: 5px;
}

.list-group-item img{
    height: 100px;
    width: 100px;
}

.nav-item img{
    height: 100px;
    width: 100px;
}

#logo{
    height: 100px;
    width: 100px;
}

#collapseButton1{
    margin-top: 10px;
}

#footer {
    padding-bottom: auto;
    background-color: #2c3e50;
}

#logo{
    text-align: center;
    width: 20%;
    height: auto;
    margin: 30px;
}


